.topAligned {
    vertical-align: top;
}

.columnSize {
    width: 50%;
}

.noBorders tr, .noBorders td {
    border: none !important;
    vertical-align: top;
}

.ui-noborder{
	border-style: hidden !important;
}
.column1 {
	width: 30%;
}

.column2{
	width: 70%;
}
.textRight {
	text-align: right;
}