.topAligned {
    vertical-align: top;
    flex: 1; height: 100%;
}

.columnSize {
    width: 50%;
}

.noBorders tr, .noBorders td {
    border: none !important;
    vertical-align: top;
}

.ui-noborder, .ui-noborder tbody{
	border-style: hidden !important;
	flex: 1; height: 100%;
}
.column1 {
	width: 30%;
	vertical-align: top;
    flex: 1; height: 100%;
}

.column2{
	width: 70%;
	vertical-align: top;
    flex: 1; height: 100%;
}
.textRight {
	text-align: right;
}
.image{
	display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

