.topAligned {
    vertical-align: top;
    flex: 1; height: 100%;
}

.columnSize {
    width: 50%;
}

.noBorders tr, .noBorders td {
    border: none !important;
    vertical-align: top;
}

.ui-noborder, .ui-noborder tbody{
	border-style: hidden !important;
	flex: 1; height: 100%;
}
.column1 {
	width: 30%;
	vertical-align: top;
    flex: 1; height: 100%;
}

.column2{
	width: 70%;
	vertical-align: top;
    flex: 1; height: 100%;
}
.textRight {
	text-align: right;
}
.image{
	display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}
.imageOverView{
	margin: 0px;
	border: 3px solid ghostwhite;
	display: block;
  	max-width:80%;
  	max-height:80%;
  	width: auto;
  	height: auto;
	
}
.ui-datascroller .ui-datascroller-item {
    width: 10%;
    display: inline-block;
    flex: 1;
}

.DataScroller{
	flex: 1; height: 100%;
}
.ui-datascroller .ui-datascroller-content{
	list-style-type: none;
	height: 98%;
	border-style: hidden !important;
}
 .ui-datatable-scrollable-body{
 height: auto;
 max-height: 85%;
 overflow-y: scroll
 }
  .ui-datatable-scrollable-header{
  width: calc(100% - 1.4em);
  }
 .tagsTable{
 	flex: 1; height: 100%;
 }
 .tagsTableForm{
 	flex: 1; height: 100%;
 }
 .tagsTableGrid{
 	flex: 1; height: 80%;
 }
 .tagsTableGrid tbody{
 	height: 100%;
 }
 .tagsColumns{
 	flex: 1; height: 70%;
 }
  .tagsColumns td{
  height: 70%
  }
 .autoHeight{
 	flex: 1; height: auto;
 }

